.heading{
    color: azure;
    background-color:yellow;
}
h1{
    color:blue;
    background-color: aqua;
}
body{
    background-color: blueviolet;
}
button{
    background-color: palevioletred;
}
p{
 background-color: rgb(57, 87, 77);
}
/* div{
    background-color: skyblue;
} */
h5{
    background-color: rgb(157, 134, 104);
    text-decoration: solid;
}
/* .box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    background-color: beige;
    text-align: center;
} */
#box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    background-color: beige;
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    background-color: rgb(43, 64, 226);
    color: white;
    border: 1px solid black;
}
.dark{
    background-color: black;
    color: white;
}
.light{
background-color: white;
color: black;
}